<!-- <div class="layout-footer">
    <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Logo" height="20" class="mr-2"/>
    by
    <span class="font-medium ml-2">PrimeNG</span>
</div> -->


<div class="grid">
    <div class="col-4">
        <img
        src="https://pool4ever.com/Pool4ever-Designs/LogoText.png"
        style="width: 300px; padding: 5px"
        alt="Image"
      />
    </div>
    <div class="col-4">
        <h2>Spot</h2>
        
        <h6>Wallet</h6>
        <h6>Trade</h6>
        <h6>Quick Swap</h6>
        <h6>Fess % Limits</h6>
        <h6></h6>
    </div>
    <div class="col-4">
        <h2>More</h2>

        <h6>Buy Crypto</h6>
        <h6>Markets Rates</h6>
        <h6>Mining Pools</h6>
        <h6>Help Center</h6>
    </div>
    <div class="col-12">
        
        <div class="flex justify-content-center flex-wrap">
            <div class="copyright-note">
                © 2021-2024 <span class="text-primary">Pool4Ever.com</span> All rights
                reserved<br /><br />
              </div>
              <span
                ><a
                  class="text-primary"
                  href="mailto:admin@pool4ever.com"
                  target="_blank"
                  >admin&#64;pool4ever.com</a
                ></span>
        </div>
        
    </div>
</div>